.app_wrapper{
    width: 100vw;
    height: 100vh;
    background: rgb(29, 24, 31);
}

.menu_content{
    position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
    width: 380px;
    height: 600px;
    background: rgb(29, 24, 31);
    
    overflow-x: hidden;
    overflow-y: hidden;

}


.menu_item_container{
    position: relative;
    display: grid;
    grid-template-rows: 1fr 20px;
    
}
.menu_item_image{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.menu_content_list_wrap{
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 500px;
    width: 320px;
    
    
}

.menu_item_name{
    position: absolute;
    bottom: 0;

    left:50%;
    transform: translate(-50%,100%);
    font-family: "Pixel";
    color: white;
    
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    width: 100px;
}
.menu_content_back{
    width: 100vw;
    height: 100vh;
    max-width: 380px;
    max-height: 640px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.menu_panel_top{
    position: absolute;
    top: 0;
    width: 100%;
    height: 20px;
    margin-top: 5px;
    background: transparent;
    z-index: 3;
}
.menu_panel_bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
    background: transparent;
    z-index: 3;
    pointer-events:none; touch-action:none;
}
.flip_x{
    transform: scaleX(-1);
}
.flip_y{
    transform: scaleY(-1);
}
.flip_yx{
    transform: scale(-1,-1);
}
.header_name{
    position: absolute;
    top: 25px;
    left: 50%;
    
    transform: translateX(-50%);
    font-family: "Pixel";
    font-size: 30px;
    color: gray;
}
.item_selected{
    transform: scale(0.8,0.8);
    transition: 0.3s;
}
.item_hide{
   
    opacity: 0;
    
}
.item_selected_anim{
    transform: scale(1.3,1.3);
    margin-top: 30px;
    transition: 0.2s;

}
.menu_item_info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(200%,-50%);
    height: 550px;
    width: 380px;
    background: transparent;
    z-index: 4;
    opacity: 0;

    transition: 0.0s;
}
.menu_item_info_opened{


    transform: translate(-50%,-50%);
    opacity: 1;
    transition: 0.3s;
}

.menu_item_contain{
  display: grid;
  grid-template-columns: 250px ;
  position: absolute;
  top: 320px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.item_info_text{
    margin-bottom: 5px;
    font-family: 'Pixel';
    font-size: 14px;
    color: white;
}
.menu_item_info_content{
    display: grid;
    grid-template-columns: 30px 100px 30px;
    font-family: "Pixel";
    font-size: 16fpx;
    color: gray;
    text-align: center;
    position: absolute;
    top: 260px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
}
.menu_item_info_content_res{
    
    font-family: "Pixel";
    font-size: 18px;
    color: gray;
    text-align: left;
    position: absolute;
    top: 330px;
    left:30px;
  
    height: 30px;
}
.menu_item_info_content_res_s{
    display: grid;
    grid-template-columns: 150px 20px 10px;
}

.menu_item_descrition{
    position: absolute;
    width: 250px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Pixel';
    text-align: center;
    font-size: 14px;
    white-space: pre-line;
}

.menu_item_descrition_res{
    position: absolute;
    height: 100px;
    overflow-y: scroll;
    width: 250px;
    bottom: 30px;
    left: 30px;
    font-family: 'Pixel';
    text-align: left;
    font-size: 12px;
    white-space: pre-line;
    
}
.item_info_text_res{
    margin-bottom: 5px;
    font-family: 'Pixel';
    font-size: 10px;
    color: white;
    line-height: 6px;
}



.boujee-text {
    --bg-size: 400%;
    --color-one: hsl(222, 33%, 31%);
    --color-two: hsl(198, 21%, 51%);
   
    background: linear-gradient(
        90deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)
      )
      0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .boujee-text {
      animation: move-bg 8s linear infinite;
    }
    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }
  
